{{ 'custom.css' | asset_url | stylesheet_tag }}
<div class="px-4 py-8">


  <div class="max-w-7xl mx-auto">
    <h1 class="text-5xl text-gray-600 red">{{ collection.title }}</h1>
    <div class="w-full mx-auto">
      <div class="grid grid-cols-4  gap-6">
        {% for product in collection.products %}

          {% render 'product-card'
            , product: product %}

        {% else %}
          <p>There are no products inside of this collection</p>

        {% endfor %}
      </div>
    </div>


  </div>
</div>